In [4]:
import pandas as pd

# Example DataFrame
data = {
    'City': ['New York', 'Miami', 'Los Angeles', 'New York', 'Los Angeles', 'Miami'],
    'Temperature': [70, 74, 72, 71, 74, 76], # Fahrenheit
    'Humidity': [50, 59, 42, 55, 45, 70]
}

df = pd.DataFrame(data)
# Grouping by the 'City' column
grouped_df = df.groupby('City')
# Calculating the mean temperature for each city
mean_temperature = grouped_df['Temperature'].mean()
print("Average temperature in individual cities:")
print(mean_temperature)
print("\n")

# Calculating the maximum humidity for each city
print("Max humidity in individual cities:")
max_humidity = grouped_df['Humidity'].max()
print(max_humidity)

Average temperature in individual cities:
City
Los Angeles    73.0
Miami          75.0
New York       70.5
Name: Temperature, dtype: float64


Max humidity in individual cities:
City
Los Angeles    45
Miami          70
New York       55
Name: Humidity, dtype: int64